@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,900;1,400;1,900&display=swap');

/* Fonte padrão */
* {
    font-family: 'Playfair Display', serif;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 75px;
    width: 100%;
    z-index: 1;
    background-color: #8381ac;
    border-bottom: 1px solid #7070c24d;
}

.nav-container {
    max-width: 1200px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    width: 40px;
    height: 40px;
    margin: 15px 0;
}

.nav-container ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
}

.nav-container ul li {
    margin: 0 15px;
}

.nav-container li a,
.nav-container li form button {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.nav-container li a:hover,
.nav-container li form button:hover {
    background-color: #726fa7;
}

/* Botão de menu para dispositivos móveis */
.nav-container .btn-menumobile {
    display: none;
    background-color: #726fa7;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.nav-container .btn-menumobile:hover {
    background-color: #5d5b99;
}

/* Estilo para o menu responsivo */
@media (max-width: 768px) {
    .nav-container ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 75px;
        left: 0;
        width: 100%;
        background-color: #8381ac;
        text-align: center;
    }

    .nav-container ul.active {
        display: flex;
    }

    .nav-container ul li {
        margin: 10px 0;
    }

    .nav-container .btn-menumobile {
        display: block;
    }
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #8381ac;
    color: white;
    position: relative;
    margin-top: 20px; /* Margem superior para separar do penúltimo elemento */
}

/* Espaçamento para garantir que o footer esteja no final da página */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding-top: 75px; /* Espaço para o menu fixo */
}

main {
    flex: 1;
    margin-top: 30px; /* Adiciona margem no topo para espaçamento */
}
